:root{
    --azul: #0c2e3c;
    --vermelho: #ba2d2d;
    --laranja: #f2511b;
    --laranjaTransparente: #f2511bbd;
    --laranjaClaro: #f2861b;
    --amarelo: #c7c730;
    --branco: #ffffff;
    --azul2: #6EB3D0;
    --verde: #3e951a;
    --rosa: #F7B6D2;
    --laranja2: #F4A623;
    --preto: #424242;
 
}

header,footer{
    background-color: var(--azul);
    color: #FFFFFF;
    height: 80px;
}

#imgLogo{
    width: 15%;        
}

.nav-link, nav a{
    color: var(--branco)!important;
}
#bannerPrimeiroMetodo{
    height: 775px;
    background-image: url(../images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#mensagemBanner{
    width: 500px;
    padding: 2rem;
    background-color: var(--laranjaTransparente);
}

body{
    background-color: var(--laranjaClaro);

}

footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    align-items: center;

}

#sectionLogin{
    width: 450px;
    height: 700px;
    border: 2pt solid black;
    background-color: var(--branco);    
}

.carousel-item{
    height: 775px;
}

.card, .card img{
    border-radius: 0%;
}

.card{
    width: 300px;
    border: var(--preto) 2px solid;
}

.card button{
    background-color: var(--rosa);
    color: var(--preto);
    border: none;
    border-radius: 0%;
}

.card button:hover{
    background-color: #b46286;
}
.card button:active{
    background-color: var(--branco)!important;
    color: var(--rosa)!important;
}
#catalogoSection{
    height: 80%;
}