:root{
    --azul: #0c2e3c;
    --vermelho: #ba2d2d;
    --laranja: #f2511b;
    --laranjaTransparente: #f2511bbd;
    --laranjaClaro: #f2861b;
    --amarelo: #c7c730;
    --branco: #ffffff;
    --azul2: #6EB3D0;
    --verde: #3e951a;
    --rosa: #F7B6D2;
    --laranja2: #F4A623;
    --preto: #424242; 
}

header, footer{
    background-color: var(--azul);
    color: #FFFFFF;
    height: 50px;}

#imgLogo{
    width: 10%;}

.nav-link, .nav-item, nav a{
    color: var(--branco)!important;
}
#bannerPrimeiroMetodo{ 
    width: 100%;
    height: 750px; 
    background-image: url(../images/logo4.png);
    background-size: cover;
    background-repeat: no-repeat;}


footer{
    position: absolute;
    bottom: 0%;
    width: 100%;
}

main{
    width: 100%;   
}

#sectionLogin{
    width: 90vh;
    height: 600px;
    background-color: var(--branco);    
}

#tituloLogin{
    font-size: 20pt;
    color: var(--azul2);
}

.card, .card img{
    border-radius: 0%;
}

.card{
    padding: 1rem;
    border: var(--preto) 2px solid;
}

.card button{
    background-color: var(--azul2);
    color: var(--preto);
    border: none;
    border-radius: 0%;
}

.card button:hover{
    background-color: #b46286;
}
.card button:active{
    background-color: var(--branco)!important;
    color: var(--rosa)!important;
}

#catalogoSection{
    height: 50%;
}
@media screen and (min-width: 400px) {
    main{    
        margin: 230px 0%;
        position: absolute;
    } 
    #imgLogo{
        display: none!important;
    }
    
}
@media screen and (min-width: 700px){
    main{
        margin: 32px 0%;
        height: 500px;
    }
}    
